/bundle_config/classes
/bundle_config/build
/bundle_config/META-INF/*
/bundle_frag_jdbc_dbcp/classes
/bundle_frag_jdbc_dbcp/build
/bundle_frag_jdbc_dbcp/META-INF/*
/bundle_framework/classes
/bundle_framework/build
/bundle_framework/META-INF/*
/bundle_handlersocket/classes
/bundle_handlersocket/build
/bundle_handlersocket/META-INF/*
/bundle_id/classes
/bundle_id/build
/bundle_id/META-INF/*
/bundle_log4j/classes
/bundle_log4j/build
/bundle_log4j/META-INF/*
/bundle_springaop/classes
/bundle_springaop/build
/bundle_springaop/META-INF/*
/bundle_springmvc/classes
/bundle_springmvc/build
/bundle_springmvc/META-INF/*
/bundle_status/classes
/bundle_status/build
/bundle_status/META-INF/*
/servlet/classes
/servlet/build
