<?xml version="1.0" encoding="UTF-8"?>
<web-app id="DASP" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>DDTH Application Service Platform</display-name>

	<listener>
		<listener-class>ddth.dasp.servlet.listener.DaspContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>ddth.dasp.servlet.listener.DaspSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>ddth.dasp.servlet.listener.DaspRequestListener</listener-class>
	</listener>

	<context-param>
		<description>IP address to bind, used by OSGI remote shell</description>
		<param-name>osgiRemoteShellListenIp</param-name>
		<param-value>127.0.0.1</param-value>
	</context-param>
	<context-param>
		<description>Port to bind, used by OSGI remote shell</description>
		<param-name>osgiRemoteShellListenPort</param-name>
		<param-value>16666</param-value>
	</context-param>

	<servlet>
		<description>DASP Dispatcher Servlet</description>
		<servlet-name>daspDispatcherServlet</servlet-name>
		<servlet-class>ddth.dasp.servlet.DaspDispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- <servlet> <servlet-name>Comet</servlet-name> <servlet-class>ddth.dasp.temp.ChatServlet</servlet-class> 
		<load-on-startup>1</load-on-startup> </servlet> -->

	<!-- <servlet-mapping> <servlet-name>Comet</servlet-name> <url-pattern>/chat</url-pattern> 
		</servlet-mapping> -->
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>/403.jsp</url-pattern>
		<url-pattern>/404.jsp</url-pattern>
		<url-pattern>/500.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>daspDispatcherServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>403</error-code>
		<location>/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
